<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	style.
		.main .title{
			width:80%;
			height:50px;
			font-size:20px;
			border-bottom:2px solid black;
			margin:0 auto;
			text-align:center;
			line-height:50px;
		}
		.main .content{
			width:80%;
			height:400px;
			margin:10px auto;
		}
		.main .content p{
			text-indent: 2em; 
		}
body
	include include/head
	div.main
		div.title 关于YA
		div.content
			h3 集团介绍：
			p.lead YA.有件文具店，是一家在线购买文具的电商网站，该网站可以进行电子商务的基本流程，网站使用Nodejs+express+jade作为服务器进行数据的处理，html+css+js进行前端的渲染与交互。用户能够在本网站购买自己喜欢和需要的文具。
			h3 集团文化：
			p.lead 明德 博学 日新 笃行
			h3 创始人介绍：
			p.lead 陈传文（董事长） 翟旭艳（CEO）
			h3 联系方式：
			p.lead 88888888

	